.gitignore
#dist
#node_modules

#demos/basic/dist
#demos/basic/node_modules
#demos/basic/tmp

#demos/angular2-data-table/dist
#demos/angular2-data-table/node_modules
#demos/angular2-data-table/tmp

npm-debug.log
/*
!.gitignore
!index.html
!/examples
