<h1>
  {{title}}
</h1>
<div>
  <inline-editor type="text" [(ngModel)]="editableText" (onSave)="saveEditable($event)" name="editableText1" size="8"></inline-editor>
</div>
<div>
  <inline-editor type="password" [(ngModel)]="editablePassword" (onSave)="saveEditable($event)" value="valor"></inline-editor>
</div>

<div>
  <inline-editor type="textarea" [(ngModel)]="editableTextArea" (onSave)="saveEditable($event)" value="valor"> </inline-editor>
</div>

<div>
  <inline-editor type="select" [(ngModel)]="editableSelect" (onSave)="saveEditable($event)" [options]="editableSelectOptions"
    value="valor"></inline-editor>
</div>


<div>
  <h3>Disabled components</h3>
  <inline-editor type="text" [(ngModel)]="editableText" (onSave)="saveEditable($event)" disabled="true"></inline-editor>
</div>
<div>
  <inline-editor type="password" [(ngModel)]="editablePassword" (onSave)="saveEditable($event)" value="valor" disabled="true"></inline-editor>
</div>

<div>
  <inline-editor type="textarea" [(ngModel)]="editableTextArea" (onSave)="saveEditable($event)" value="valor" disabled="true"></inline-editor>
</div>