<inline-editor
  #pass
  type="password"
  [config]="{ saveOnBlur: false, focusOnClick: true }"
  [(ngModel)]="title"
></inline-editor>

<!-- <inline-editor
  #inline
  type="text"
  [config]="{ empty: 'eeemptyyy' }"
  [(ngModel)]="title"
></inline-editor> -->

<inline-editor
  #inline
  [formControl]="reactiveTest"
  [config]="{ saveOnChange: false, focusOnClick: true }"
></inline-editor>

<button (click)="toggle()">Toggle!</button>
<button (click)="updateValue()">save!</button>
<div>
  {{ inline?.input?.getState() | json }}<br />
  {{ pass?.input?.getState() | json }}
</div>

<inline-editor
  #textarea
  type="custom"
  [(ngModel)]="txt"
  [config]="{ saveOnChange: false, focusOnClick: true, color: 'accent' }"
></inline-editor>
